@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,600;1,400&display=swap');

:root{
     --violet: hsl(257, 40%, 49%);
     --soft-magenta: hsl(300, 69%, 71%);
     --fw-light: 400;
     --fw-bold: 600;
}

body{
     font-family: 'Open Sans', sans-serif;
     font-family: 'Poppins', sans-serif;
     background: var(--violet) url("/images/bg-desktop.svg") no-repeat center center / cover;
     min-height: 100vh;    
}

button{
     max-width: 20rem;
     font-size: 1.2rem;
     font-weight: var(--fw-light);
     color: var(--violet);
     border-radius: 1.75rem;
     border: 1px solid var(--violet);
     text-align: center;
     padding: .8rem;
     box-shadow:
          4.5px 4.5px 3.6px rgba(0, 0, 0, 0.045),
          12.5px 12.5px 10px rgba(0, 0, 0, 0.065),
          30.1px 30.1px 24.1px rgba(0, 0, 0, 0.085),
          100px 100px 80px rgba(0, 0, 0, 0.13);
}

ul{
     list-style-type: none;
}

i{
     font-size: 1.6rem;
     color: #fff;
     border: 1px solid #fff;
     border-radius: 50%;
     padding: .5rem;
     margin: .5rem;
     transition: all .2s ease-in-out;
}

i:hover{
     color: var(--soft-magenta);
}

.container{
     padding: 1rem;
}

.company-logo{
     height: 15vh;
}

.center-content{
     color: #fff;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 5rem;
     height: 70vh;
     align-items: center;
}

.illustration{
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100%;
}

.text-content{
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-weight: var(--fw-light);
}

.text-content h1{
     font-family: 'Poppins', sans-serif;
     font-size: 3rem;
     font-weight: var(--fw-bold);
     line-height: 1.5;
     margin-top: -30px;
}

.text-content p{
     font-family: 'Open Sans', sans-serif;
     font-size: 1.3rem;
     line-height: 1.6;
     letter-spacing: .05rem;
     margin-top: -10px;
     margin-bottom: 2rem;
     font-weight: var(--fw-light);
}

.footer ul{
     display: flex;
     justify-content: flex-end;
     padding-right: 3rem;
}

@media (max-width: 1200px){
     .company-logo{
          max-width: 40rem;
     }
     .company-logo img{
          width: 40%;
     }
     .container{
          max-width: 40rem;
          margin: 0 auto;
     }
     .illustration{
          max-width: 30rem;
          margin: auto;
     }
     .illustration img{
          width: 100%;
     }
     .center-content{
          grid-template-columns: repeat(1,1fr);
     }
     .text-content{
          text-align: center;
          align-items: center;
     }
     button{
          padding: .5rem 2rem;
          font-size: 1rem;
     }
     .text-content h1{
          font-size: 2rem;
     }
     .text-content p{
          font-size: 1.1rem;
          max-width: 50ch;
     }
}